<footer>
    
    <div class="row">

        <div class="col-sm-4">
            
        </div>

        <div class="col-sm-4">

        </div>

        <div class="col-sm-4">
            
        </div>

    </div>
    <p>Copyright &copy; 2018 - <a href="/">Matthew C. Cataldi</a></p>
    
</footer>