@{
    ViewData["Title"] = "About";
}


<div class="parallax computer-cafe">
    <div class="caption-background">
        <div class="caption">MY STORY</div>
    </div>
</div>

<div class="container">
    <div class="my-story">

        <p>I first got bit by the programming bug back in 2013 with my role as Personnel Manager for the Rockford Symphony.  When I started the job, my predecessor handed me a two-paged word document and a spreadsheet of the current roster, that’s all.  After the first few concerts of doing it the “old-school” way, it became clear that there had to be a better way of managing the 70 to 80 musicians than on a spreadsheet.</p>

        <p>I didn’t know anything about programming at the time, so I picked up a book for Microsoft Access and started tinkering around with it.  About a year and a half later, I knew that this curiosity wasn’t going away anytime soon.  I studied a little and took the 70-461 T-SQL exam.  I studied even more and passed it the second time!  I even started studying C# when my wife mentioned, &ldquo;Hey hon, have you ever thought about going to camp?&rdquo; &ldquo;Whatever do you mean dearest?&rdquo;  I responded. &ldquo;Well it seems like you really like to code, so why not do it everyday?&rdquo;  What a great idea!  I signed up for DevBootcamp, graduated, and the rest is history.</p>

        <p>As a professional developer, I’ve used my experience to help companies and organizations build solutions that ease their workflow and automate more mundane tasks. I’ve always enjoyed seeing something that I’ve helped build benefit people in a meaningful way.  If you would like to get a more complete picture of my career history, check out my LinkedIn page or email/call me and we can chew the fat.</p>
    </div>
</div>


<div class="parallax computer-cafe">
    <span class="caption">LESSONS</span>
</div>

<div class="container">
    <div class="my-story">
        <p>Two of the great lessons that I learned after performing the violin for over 31 years is the value in getting things right the first time, and that the simplest ways of doing thing tend to be the best.</p>

        <p>While there is a new technology coming out every day, the basic structures of Object Oriented Programming (OOP) for the most part stay the same.  It's in these fundamental principacles (go on here). . .</p>

        <div>
            <a href="" target="_blank">Generic Cover Letter</a>
            <a href="" target="_blank">Programming Resume</a>
        </div>


    </div>
</div>