<div class="container">
    <div style="padding-top: 70px;">
        <h2>@ViewData["Message"]</h2>

        <p>Below is my contact information.  Phones are nice, but emails are better.</p>

        <address>
            804 Washington St., #2C<br />
            Evanston, IL 60202<br />
            <abbr title="Cell Phone">c.</abbr> (614) 562-0180<br />
            <abbr title="Email Address">e.</abbr>&nbsp;<a href="mailto:mcataloe@gmail.com?subject=Solution%20Inquiry" target="_blank">mcataloe@gmail.com</a>
        </address>
    </div>

    <button id="button" class="btn btn-primary">Click Me</button>

    <div id="insertHere">

    </div>

</div>


<div class="container">
    <div class="col-sm-6">
        <form asp-controller="Home" asp-action="SendEmail" method="post">
            <div class="form-group">
                <input id="FirstName" class="form-control" name="FirstName" type="text" placeholder="First Name" required />
                <!-- <label for="FirstName" class="floating-label">First Name</label> -->
            </div>

            <div class="form-group">
                <input id="LastName" class="form-control" name="LastName" type="text" placeholder="Last Name" required />
                <!-- <label for="LastName" class="floating-label">Last Name</label> -->
            </div>

            <div class="form-group">
                <input id="Email" class="form-control" name="Email" type="email" placeholder="Email" required />
                <!-- <label for="Email" class="floating-label">Email</label> -->
            </div>   

            <div class="form-group">
                <textarea id="Comments" class="form-control" name="Comments" placeholder="Jenna is hot." required></textarea>
                <!-- <label for="Comments" class="floating-label">Comments</label> -->
            </div> 

            <input type="submit" class="btn btn-primary btn-lg" value="Send Email">
        </form>
    </div>
</div>