@model List<Stack>
@{
    ViewData["Title"] = "Stacks";
}

<div class="parallax computer-cafe">
    <div class="caption-background">
        <div class="caption">STACKS</div>
    </div>
</div>

<div class="container">
    <div class="my-story">
        <p>Here's some text about the stacks I have learned. Blah Blah blah.</p>
    </div>
</div>
