body {
    background-color: #444444;
    color: white;
    font-family: pill_gothic, sans-serif;
    letter-spacing: 1.5px;
}

a:hover {
    color: lightblue;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

footer {
    text-align: center;
}

div .about p {
    font-size: 1.2em;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.text-box {
    height: 250px;
    box-shadow: #444444 3px 3px 3px;
    padding: 10px;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.navbar {
    z-index: 1;
}

.caption {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.35);
    font-size: 72px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.35);
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 25px;
    font-size: 54px;
    letter-spacing: 15px;
    opacity: 0.85;
    text-transform: uppercase;
    border-radius: 5px;
}

.parallax {
    position: relative;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.computer-cafe {
    background-image: url(/images/computer_cafe.jpg);
}

.parallax-caption {
    background-color: rbga(255, 255, 255, 0.5);
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: black;
}

.my-story {
    font-size: 18px;
    padding: 100px 0px;
}

.blockquote {
    font-size: 2.5em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.65);

}

.blockquote footer {
    color: black;
}

@font-face {
    font-family:  pill_gothic;
    src: url('/fonts/pill_gothic.ttf');
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}